<div ng-app="reportsApp" ng-controller="ReportsController">
  Report:
  <select ng-model="reportUrl" ng-change="retrieveReport(reportUrl)">
    <option></option>
    <option ng-repeat="report in availableReports" value="{{report['url']}}">{{report['name']}}</option>
  </select>

  <table>
    <tr ng-repeat="(date, urlsData) in reportData">
      <td>{{date}}</td>
      <td>
        <span ng-if="urlsData.length == 0">No data available</span>
        <ul>
          <li ng-repeat="urlItem in urlsData">
            {{urlItem.url}}: {{urlItem.visits}} visits
          </li>
        </ul>
    </tr>
  </table>

</div>