<div ng-app="reportsApp" ng-controller="ReportsController">
  Report:
  <select ng-model="reportUrl" ng-change="retrieveReport(reportUrl)">
    <option></option>
    <option ng-repeat="report in availableReports" value="{{report['url']}}">{{report['name']}}</option>
  </select>

  <table ng-if="reportUrl.length > 0">
    <tr>
      <th>Date</th>
      <th>URL stats</th>
    </tr>
    <tr ng-repeat="(date, urlsData) in reportData">
      <td>{{date}}</td>
      <td>
        <span ng-if="urlsData.length == 0">No data available</span>
        <ul>
          <li ng-repeat="urlItem in urlsData">
            {{urlItem.url}}: {{urlItem.visits}} visits
            <div ng-if="urlItem.referrers != undefined" class="referrers">
              <p class="title">Top referrers</p>
              <p class="item" ng-repeat="referrer in urlItem.referrers">{{referrer.url || "No referrer"}} ({{referrer.visits}})</p>
            </div>
          </li>
        </ul>
    </tr>
  </table>

</div>